<form [formGroup]="meetingForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Título</label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="title"
    />
  </div>

  <div class="form-group">
    <label for="date">Fecha</label>
    <input
      type="date"
      class="form-control"
      id="date"
      formControlName="date"
      (keydown)="disableDate()"
    />
  </div>

  <div class="form-group">
    <label for="time">Hora</label>
    <input
      type="time"
      class="form-control"
      id="time"
      formControlName="time"
      (keydown)="disableDate()"
    />
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col">
        <label for="participants">Participantes</label>
        <input
          type="text"
          class="form-control"
          id="participants"
          formControlName="participants"
        />
      </div>
      <div class="col">
        <br />
        <button
          type="button"
          class="btn btn-primary"
          (click)="addParticipant()"
        >
          Agregar
        </button>
      </div>
    </div>
    <br />
    <ul>
      <li *ngFor="let participant of participants">{{ participant }}</li>
    </ul>
  </div>

  <br />
  <button type="submit" class="btn btn-primary">Crear reunión</button>
</form>
