<form [formGroup]="myForm" (ngSubmit)="submitFormulario()">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input formControlName="usuario" type="username" [class.is-invalid]="f.usuario.errors && f.usuario.touched" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su correo">
        <div class="invalid-feedback">
            Ingrese su usuario
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input formControlName="password" type="password" [class.is-invalid]="f.password.errors && f.password.touched" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su contraseña">
        <div class="invalid-feedback">
            Ingrese una contraseña
        </div>
    </div>
    <div class="mb-3">
        <button class="btn btn-success">Ingresar</button>
    </div>
</form>